asgiref==3.6.0
bitarray==2.6.1
botocore==1.29.36
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
colorclass==2.2.2
contourpy==1.0.6
cryptography==38.0.4
cycler==0.11.0
distlib==0.3.6
Django==4.1.4
docopt==0.6.2
filelock==3.8.2
fonttools==4.38.0
gunicorn==20.1.0
idna==3.4
imageio==2.23.0
jmespath==1.0.1
joblib==1.2.0
kiwisolver==1.4.4
llvmlite==0.39.1
matplotlib==3.6.2
numba==0.56.4
numpy==1.24.0
packaging==22.0
Pillow==9.3.0
pip-upgrader==1.4.15
pipenv==2022.12.19
pipreqs==0.4.11
platformdirs==2.6.0
psycopg2==2.9.5
pycparser==2.21
pynndescent==0.5.8
pyparsing==3.0.9
python-dateutil==2.8.2
requests==2.28.1
scikit-learn==1.2.0
scipy==1.9.3
six==1.16.0
sqlparse==0.4.3
terminaltables==3.1.10
threadpoolctl==3.1.0
tqdm==4.64.1
umap-learn==0.5.3
urllib3==1.26.13
virtualenv==20.17.1
virtualenv-clone==0.5.7
yarg==0.1.9
gunicorn
